<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="thai_extensions" sortOrder="4000000">
            <label>Thai's Extensions</label>
        </tab>
        <section id="thai_s3" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>S3</label>
            <tab>thai_extensions</tab>
            <resource>Thai_S3::config_s3</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="access_key" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="secret_key" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="bucket" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bucket</label>
                </field>
                <field id="region" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region</label>
                    <source_model>Thai\S3\Model\Config\Source\Region</source_model>
                </field>
            </group>
            <group id="custom_endpoint" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Endpoint</label>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="endpoint" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="region" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region</label>
                    <comment>This overrides the Region setting you've selected in the General group.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="headers" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Headers</label>
                <field id="cache_control" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache-Control</label>
                </field>
                <field id="expires" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expires</label>
                </field>
                <field id="custom_headers" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Headers</label>
                    <frontend_model>Thai\S3\Block\Adminhtml\Form\Field\Headers</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Your header will be prepended with the x-amz-meta- prefix.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
